h1 {
  color: 	#484848;
}

.Projects {
  color: 	#484848;
  float: right
}

.About {
  color: 	#484848;
  float: right
}

.title {
  color: blue;
  background color: #484848;
}

img {
  float: left;
}
