body {
  background-color: #2b2b2b;
  font-family: 'Playfair Display', serif;
  color: #FC6399;
  padding: 50px;
  margin: 50px;
}

h1 {
  color: #FC6399;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

.title {
  color: #FF97CC;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  margin-bottom: 15px;
}

.left {
  color: #FF97CC;
}

a {
  color: #FC6399;
}

.column {
  color: #FF97CC;
  float: right;
  height: 100%;
  width: 315px;
  border-left: 5px solid black;
  padding: 100px 400px 300px 50px;
  margin-left: 100px;
}
