body {
  background-color: #484848;
  font-family: 'Playfair Display', serif;
  color: #FC6399;
}

h1 {
  color: #FC6399;
  font-family: 'Source Sans Pro', sans-serif;
}

.column {
  color: #FF97CC;
  float: right;
  height: 100%;
  width: 315px;
}

.title {
  color: #FF97CC;
  font-family: 'Source Sans Pro', sans-serif;
}

.right {
  color: #FF97CC;
}

a {
  color: #FC6399;
}
